@import "../variables";
.u-header{
    width: 100%;
    display: block;
    height: 80px;
    padding-left: 40px;
    padding-right: 40px;
    position: fixed;
    top: 0;
    z-index: 105;
    transition: all 218ms;
    background: #64c0f0;

    .title{
      line-height: 80px;
      color: #ffffff;
    }

    .login-btn{
        float: right;
        margin-top: 18px;
        width:200px;

      a{
          color: #fff;
        }
    }

}
