@import "../variables";
.u-header{
    background: orange;
    width: 100%;
    display: block;
    height: 80px;
    padding-left: 40px;
    padding-right: 40px;
    position: fixed;
    top: 0;
    z-index: 105;
    transition: all 218ms;

    .title{
      line-height: 80px;
      font-size: 25px;
      color: #ffffff;
    }

    .login-btn{
        width: 200px;
        float: right;
        margin-top: 18px;
        a{
          color: #fff;
        }

    }

}
