@import "../../variables";

.center-bar{
  width: 800px;
  padding: 10px;
  h1{
    font-size: 26px;
  }
  .course-info{
    background: #ffffff;
    box-shadow: 2px 2px 5px 1px #ccc;
    overflow: hidden;
    height:450px;
    table{

      tr{
        td{
          border: 1px solid #ccc;
          width: 100px;
          height: 100px;
          text-align: center;
        }
        &.date{
          td{
            height: 50px;
          }
        }
      }
    }
  }
  .modal-box{
    //width: 700px;
    .modal-center-box{
      width: 80%;
      //这里改成520px
      .head{
        h5,span{
          color:#58666E ;
        }
      }
      .puch-card-info{
        border-bottom: 1px solid #efefef;
        .info-box{
          span{
            width: 100px;
            display: block;
            line-height:30px;
          }
          input{
            width:350px;
            height: 30px;
            background: #ecf1f2;
            border:none;
            border-radius: 5px;
          }
        }
      }
      .upload-files{
        a{
          line-height: 55px;
        }
      }
      .file-container{
        min-height: 280px;
        .file-box{
          background: #f8f9fb;
          height: 50px;
          line-height: 50px;
        }
      }
      .submit-button,.concel-button{
        width: 80px;
        height: 35px;
        background: #ff4060;
        border:none;
      }
      .concel-button{
        background: #cfcfcf;
      }
    }
  }
}
