@import "../variables";

.u-aboutus-page{
    .team-page{
        padding-bottom: 50px;
        .team-img-collection{
            width:100%;
            .img-item{
                padding: 0px;
                margin: 0px;
            }
            .img-body{
                width: 100%;
            }
        }
    }

    .study-intro{
        .study-intro-content{
            padding-top: 60px;
            padding-bottom: 30px;
            background: url('../../../static/home/aboutus/intro-bg-line.png')  no-repeat;
            background-size: 100%;
            background-position-y: 230px;
            .study-bottom-row{
                margin-top:80px;
            }
            .intro-text{
                margin:0 auto;
                width: 180px;
            }
            .intro-title{
                font-size: 24px;
            }
            .intro-desc{
                font-size: 16px;
            }
            .intro-img{
                width:150px;
            }
        }
        
        @media(max-width: 1080px){
            .study-intro-content{
                background:white;
            }
        }
    }
}