@import "variables";
@import "utilities";

html, body {
  font-family: $u-font-family;
  font-weight: normal;
  margin: 0;
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}
ul{
  padding: 0px;
  margin: 0px;
}

a, a:hover, a:visited {
  cursor: pointer;
  text-decoration: none;
  outline: none;

  &:hover {
    text-decoration: none;
    color: #6DA2D7 !important;
  }

  transition: all .2s;
}

/** Some Components for uband **/
.u-btn{
  &.u-btn-primary{
    background-color: $u-red;
    &:hover{
      border-color: $u-red;
      background-color: $u-red-hover;
    }
  }
  &.btn-secondary{
    border-color: $u-red;
  }
  &:hover{    
    cursor: pointer;
  }
}