/** something variables for uband **/
/** change it if necessary **/

$u-black: #434343;
$u-red: #ff4060;
$u-red-hover: #FF1658;
$u-gray: #8a8a8a;
$u-font-color:#4A4A4A;
$u-font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;

$u-content-width: 1080px;
